<h1>Listing comments</h1>

<table>
  <tr>
    <th>Commenter</th>
    <th>     </th>
    <th>Comment</th>
  </tr>

  <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.commenter %></td>
        <td><%= "&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp".html_safe %>  </td>
        <td><%= comment.body %></td>
        <td><%= link_to 'Destroy Comment', [comment.article, comment],
                        method: :delete,
                        data: {confirm: 'Are you sure?'} %>
      </tr>
  <% end %>
</table>